// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.storePageHeader{
  text-align: center;
  margin: 4px 4px 4px 4px;
  padding: 2px 2px;
  border: 4px solid #730E15;
  font-family: "Lucida Grande, Arial";
  font-weight: bold;
  width: auto;
  height: auto;
  color: #000000;
  display: block;
  background: rgb(188,188,188); /* Old browsers */
  border-radius: 30px;
}